<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>{{ title }}</title>
    {% endblock %}
</head>
<body>
<!-- Your page content -->
{% block content %}{% endblock %}

{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
{% endblock %}
<div class="container-lg">
    <div class="p-5 text-center bg-default">
        <h1>{{ details.title }}</h1>
    </div>
    <hr class="hr"/>
    <div class="container-sm">
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <tbody>
                    <thead class="table-primary">
                    <tr>
                        <th colspan="2"><h3>Ontology Information</h3></th>
                    </tr>
                    </thead>
                    <tr>
                        <th scope="row" class="w-25">Title</th>
                        <td> {{ details.title }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td> {{ details.definition }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Namespace</th>
                        <td> {{ details.namespace }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Version</th>
                        <td> {{ details.version }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Modified</th>
                        <td> {{ details.last_modified }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr class="hr"/>
    <div class="container-sm">
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <tbody>
                    <thead class="table-primary">
                    <tr>
                        <th colspan="2"><h3>Namespaces Defined</h3></th>
                    </tr>
                    </thead>
                    {% for namespace in namespaces %}
                    <tr>
                        <th scope="row" class="w-25">{{namespace.prefix}}</th>
                        <td>{{namespace.namespace}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <hr class="hr"/>
    <div class="container-sm">
        <h2>Properties and Classes</h2>
        <div class="row">
            {% for key, value in classes_and_props.items() %}
            <div class="row">
                <div class="table-responsive-md">
                    <table class="table table-hover">
                        <tbody>
                        <thead class="table-primary">
                        <tr>
                            <div class="d-flex align-items-center">
                                <th colspan="2" id={{ key.split(':')[1] }}>{{key}}</th>
                            </div>
                        </tr>
                        </thead>
                        {% for p, o in value.items() %}
                        <tr>
                            <th scope="row" class="w-25">{{p}}</th>
                            <td>{{o}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>
